apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: springbootdemo-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: springbootdemo
        track: master
    spec:
      containers:
      - name: springbootdemo
        image: 192.168.72.3:11080/library/springbootdemo:v1
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: springbootdemo-svc
spec:
  type: NodePort
  selector:
    app: springbootdemo
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
